
body {
    background-color: lightskyblue;
    margin: 20;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
}
h2 {
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-color: bisque;
}

#subtitulo-contacto {
    color: coral;
    font-size: 20px;
}

.subtituo-mediano {
    background-color: black;
}

.footer-color {
    color: indigo;
    background-color: lightcoral;
}

p {
    font-family: 'Chivo Mono', monospace;
    text-align: justify;
    line-height: 25px;
}

li {
    font-size: 15px;
    font-style: oblique;
}